{{> header}}


{{> title}}

{{#with model}}

{{#if hasComment}}

{{> comment}}

{{/if}}

{{/with}}

{{#if model.typeParameters}}

<div className="section type-parameters">

## Type parameters

{{#with model.typeParameters}}

{{{typeParameterTable}}}

{{/with}}

</div>

{{/if}}

{{#ifShowTypeHierarchy}}


<div className="section hierarchy">

## Hierarchy

{{#with model.typeHierarchy}}

{{{hierarchy 0}}}

{{/with}}

</div>
{{/ifShowTypeHierarchy}}

{{#if model.implementedTypes}}


<div className="section implements">

## Implements

{{#each model.implementedTypes}}
- {{{type}}}
{{/each}}

</div>
{{/if}}

{{#if model.implementedBy}}


<div className="section implemented-by">

## Implemented by

{{#each model.implementedBy}}
- {{{type}}}
{{/each}}

</div>

{{/if}}

{{#if model.signatures}}


<div className="section callable">

## Callable

{{#with model}}

{{#each signatures}}

### {{name}}

{{> member.signature showSources=true }}

{{/each}}

{{/with}}

</div>

{{/if}}

{{#if model.indexSignature}}


<div className="section indexable">

## Indexable

{{#with model}}

{{#with indexSignature}}

{{{indexSignatureTitle}}}

{{> comment}}

{{/with}}

{{/with}}

</div>

{{/if}}

{{#with model}}

{{> main}}

{{/with}}

